#Navbar {
    text-align: center;
    color: red;
}

#Modelos {
    text-align: center;
    color: red;
} 

#Planes {
    
    background-color: rgb(24, 24, 24);
    color: darkgrey;
}

#Footer {
    background-color: rgb(24, 24, 24);
    color: darkgrey;
}
